<a href="/admin/blogs" class="btn btn-secondary">Blog</a>
<a href="/admin/trackers" class="btn btn-info">Tracker</a>
<a href="/admin/users" class="btn btn-info">User</a>
<a href="/admin/markers" class="btn btn-success">Marker</a>