<link rel="stylesheet" href="/stylesheets/error.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>

<div id="error">
  <i id="error">Oops!!! Wrong Path</i>
</div>

<a class="btn btn-danger" href="javascript:history.back()">回上一頁</a>

<script>
  jQuery("#error").fitText();
</script>