<div class="homeBtn text-center ">
  <div class="row align-items-end">
    <div class="col">
      {{#if user}}
      {{#if user.isAdmin}}
      <a href="/admin" class="btn btn-secondary">Backstage</a>
      {{else}}
      <a href="/blogs" class="btn btn-secondary">Blog</a>
      <a href="/map" class="btn btn-success">Map</a>
      <a href="/trackers" class="btn btn-info">Tracker</a>
      {{/if}}
      {{else}}
      <a href="/signin" class="btn btn-primary">Signin</a>
      <a href="/signup" class="btn btn-success">Signup</a>
      {{/if}}
    </div>
  </div>
</div>