<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiuB3mWYcMd3tB659nKTl-nI6CxmHpGHg&callback=initMap&&libraries=places&v=weekly"
  defer></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<link rel="stylesheet" href="/stylesheets/map.css">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " href="/blogs">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/map">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/trackers">Tracker</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/weather">Weather</a>
  </li>
</ul>
<br>

<button class="btn btn-default" id="geoBtn"></button>

<div style="display: none">
  <input id="pac-input" class="controls" type="text" placeholder="Enter a location" />
</div>

<div id="map"></div>
<div id="infowindow-content"></div>

<script src="/javascript/mapFunction.js"></script>