<form action="/trackers" method="POST">
  <input type="text" placeholder="product" name="product" required>
  <input type="date" placeholder="date" name="date" required>
  <input type="text" placeholder="price" name="price" required>
  <button type='submit'>create</button>
  <a href="/" class="btn btn-primary">back</a>
</form>