body {
  background-image: url('../background/Earth.png');
  background-size: cover;
}

.body {
  background-color: rgba(179, 175, 175, 0.6);
  border-radius: 5px;
  padding: 5px;
}

.background {
  width: 100vw;
  height: 40vh;
  text-align: center;
  background-size: cover;
  border-radius: 100vw 100vw 0 0;
  margin-top: 20px;
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
}

.nav-item {
  background-color: rgba(240, 235, 235, 0.2);
  border-radius: 10px 10px 0 0;
}

.page-title {
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: rgba(235, 230, 230, 0.973);
}

.dropdown-toggle:hover {
  color: rgba(235, 230, 230, 0.973);
}

.table {
  border: 1px solid;
}
.table td,
.table th {
  vertical-align: middle;
}

.t1-border {
  border-right: 1px solid white;
}

.t2-border {
  border-right: 1px solid black;
}

.blog-link {
  text-decoration: none;
  color: black;
}

.blog-link:hover {
  color: rgba(15, 14, 14, 0.637);
  text-decoration: none;
}
