.containerCord {
  max-width: 820px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.input-group {
  max-width: 640px;
  margin: 0 auto;
}
.total-title {
  color: black;
  margin: 5px;
}
.total-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orangered;
}
.record-ul {
  margin: 0;
}

.record-li {
  list-style-type: none;
  margin-bottom: 5px;
  padding-left: 15px;
  text-align: left;
}

.record-li:nth-child(odd) {
  background-color: #d9dae2;
}
.record-li:nth-child(even) {
  background-color: #b5b7ca;
}

.icon {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.topic {
  font-size: 20px;
}
.time {
  font-size: 14px;
}

.price {
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.btnFeature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
